<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title><%= content_for(:title) ? yield(:title) + " - Burning Shades": "Burning Shades" %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">

  <!-- TODO: Apple icons and favicon -->


  <%= render :partial => 'partials/fonts' %>
  <%= render :partial => 'partials/stylesheets'%>
  

  <%= meta_csrf_tags %>

</head>

<body>

  <section id="root">
    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <%= yield %>
    </noscript>
  </section> <%= only_dev "<!--/root-->" %>
  
  <% if current_user %>

  <% else %>
    <form id='hidden-login-form' method="post" action="<%=login_path%>">
    </form>
  <% end %>




</body>
</html>
